<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>677953775253-3b6d82oceb0gs8fu9dqd2iuc54j3fijc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677953775253-3b6d82oceb0gs8fu9dqd2iuc54j3fijc</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0U0X8iJeb8yUMnPB7xmwSLNKIMSxAJA</string>
	<key>GCM_SENDER_ID</key>
	<string>677953775253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berk.recordbook</string>
	<key>PROJECT_ID</key>
	<string>recordbook-f61df</string>
	<key>STORAGE_BUCKET</key>
	<string>recordbook-f61df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677953775253:ios:c917f57251cedbb8</string>
	<key>DATABASE_URL</key>
	<string>https://recordbook-f61df.firebaseio.com</string>
</dict>
</plist>